.jumbotron {
    background-color: none;
}

.Contact {
  margin-left: auto;
  margin-right: auto;
  background-color: #282c34;
}

.Contact-jumbotron {
  background-color: #252934;
  color: #616161;
  margin-bottom: 0rem;
}

.Contact-header {
  color: #616161;
  color: white;
}

.Contact-Name {
max-width: 30rem;
margin-left: auto;
margin-right: auto;
margin-bottom: 0.25rem;
margin-top: 0.25rem;
}

.Contact-Email {
max-width: 30rem;
margin-left: auto;
margin-right: auto;
margin-bottom: 0.25rem;
margin-top: 0.25rem;
}


.Contact-Message {
  width: 20rem;
  margin: auto;
  height: 10rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.Contact-responseMessage {
  margin-top: 2rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
