/* @import url("https://fonts.googleapis.com/css?family=VT323"); */

#cursor {
  /* border-left: 0.1em solid #00ff41; */
  border-left: 0.1em solid white;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
